.player-control button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 0px;
}

.player-control button img {
  width: 24px;
  height: 24px;
}

.player-control button:hover {
  background-color: #45a049;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip img {
  width: 24px;
  height: 24px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
